@import '../../common/color';
.contentDiv{
  position: relative;
  width: 100%;
  min-height: 100%;
  z-index: 1;
  color: $secondary-color;
}
.contentPro {
  position: relative;
  width: 1200px;
  margin: auto;
  top: 50px;
}

.partProfile {
  position: relative;
  left: 50%;
  top: 400px;
  width: 600px;
  height: 900px;
  transform: translate(-50%, -50%);
  background-color: $font-secondary;
  border-radius: 10px;
  box-shadow: 0 2px 5px $primary-color;
  &
  form{
    margin-left: 5px;
  }
}

.edit {
  position: absolute;
  top: 5px;
  left: 230px;
  width: 120px;
}


.send {
  position: absolute;
  z-index: -1;
  top: 855px;
  left: 455px;
  width: 120px;
}
//part arrow
.partArrow{
  position: relative;
  left: 50%;
  top: 400px;
  width: 600px;
  height: 800px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
//part louding
@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.spinner {
  animation: spin 1000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

